# Streamlit
streamlit==1.27.0

# Geospatial
geopandas==1.14.0
folium
contextily
geoalchemy2
psycopg2-binary

# Data and plotting
numpy
matplotlib
matplotlib-scalebar
pandas
shapely

# Streamlit plugins
streamlit-folium

# Google Earth Engine
earthengine-api==0.1.326

# Arabic text handling
arabic-reshaper
python-bidi

# Database ORM
sqlalchemy
